---
import Hero from "@/components/Hero.astro"
import Layout from "@/layouts/Layout.astro"
---

<Layout title="Home">
	<Hero />
	<p>Magna culpa reprehenderit sit veniam sint amet ut qui anim esse non. Sint proident commodo duis ut aliquip eu tempor et id excepteur amet occaecat aute mollit. Eiusmod voluptate anim magna anim irure. Fugiat ea sunt culpa incididunt labore minim anim tempor mollit. Exercitation pariatur cillum Lorem culpa sunt ut fugiat quis minim ut ea dolore.</p>
	<p>Magna culpa reprehenderit sit veniam sint amet ut qui anim esse non. Sint proident commodo duis ut aliquip eu tempor et id excepteur amet occaecat aute mollit. Eiusmod voluptate anim magna anim irure. Fugiat ea sunt culpa incididunt labore minim anim tempor mollit. Exercitation pariatur cillum Lorem culpa sunt ut fugiat quis minim ut ea dolore.</p>
	<p>Magna culpa reprehenderit sit veniam sint amet ut qui anim esse non. Sint proident commodo duis ut aliquip eu tempor et id excepteur amet occaecat aute mollit. Eiusmod voluptate anim magna anim irure. Fugiat ea sunt culpa incididunt labore minim anim tempor mollit. Exercitation pariatur cillum Lorem culpa sunt ut fugiat quis minim ut ea dolore.</p>
	<p>Magna culpa reprehenderit sit veniam sint amet ut qui anim esse non. Sint proident commodo duis ut aliquip eu tempor et id excepteur amet occaecat aute mollit. Eiusmod voluptate anim magna anim irure. Fugiat ea sunt culpa incididunt labore minim anim tempor mollit. Exercitation pariatur cillum Lorem culpa sunt ut fugiat quis minim ut ea dolore.</p>
	<p>Magna culpa reprehenderit sit veniam sint amet ut qui anim esse non. Sint proident commodo duis ut aliquip eu tempor et id excepteur amet occaecat aute mollit. Eiusmod voluptate anim magna anim irure. Fugiat ea sunt culpa incididunt labore minim anim tempor mollit. Exercitation pariatur cillum Lorem culpa sunt ut fugiat quis minim ut ea dolore.</p>
	<p>Magna culpa reprehenderit sit veniam sint amet ut qui anim esse non. Sint proident commodo duis ut aliquip eu tempor et id excepteur amet occaecat aute mollit. Eiusmod voluptate anim magna anim irure. Fugiat ea sunt culpa incididunt labore minim anim tempor mollit. Exercitation pariatur cillum Lorem culpa sunt ut fugiat quis minim ut ea dolore.</p>
	<p>Magna culpa reprehenderit sit veniam sint amet ut qui anim esse non. Sint proident commodo duis ut aliquip eu tempor et id excepteur amet occaecat aute mollit. Eiusmod voluptate anim magna anim irure. Fugiat ea sunt culpa incididunt labore minim anim tempor mollit. Exercitation pariatur cillum Lorem culpa sunt ut fugiat quis minim ut ea dolore.</p>
	<p>Magna culpa reprehenderit sit veniam sint amet ut qui anim esse non. Sint proident commodo duis ut aliquip eu tempor et id excepteur amet occaecat aute mollit. Eiusmod voluptate anim magna anim irure. Fugiat ea sunt culpa incididunt labore minim anim tempor mollit. Exercitation pariatur cillum Lorem culpa sunt ut fugiat quis minim ut ea dolore.</p>
	<p>Magna culpa reprehenderit sit veniam sint amet ut qui anim esse non. Sint proident commodo duis ut aliquip eu tempor et id excepteur amet occaecat aute mollit. Eiusmod voluptate anim magna anim irure. Fugiat ea sunt culpa incididunt labore minim anim tempor mollit. Exercitation pariatur cillum Lorem culpa sunt ut fugiat quis minim ut ea dolore.</p>
</Layout>
