---
interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	body {
		font-family: "Spacemono", monospace;
		background-color: rgb(0, 33, 54);
		color: white;
	}

	.image {
		background-image: url("/orellana.webp");
		background-position: center;
		background-size: cover;
	}
	@font-face {
		font-family: "Kaushan";
		src: url("/fonts/KaushanScript-Regular.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: "Spacemono";
		src: url("/fonts/SpaceMono-Regular.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: "SpacemonoBold";
		src: url("/fonts/SpaceMono-Bold.ttf") format("truetype");
		font-weight: bold;
		font-style: normal;
	}
</style>
